{%extends "base.html"%}
{%block content%}
<nav id="navbar-example2" class="navbar navbar-dark bg-dark">
    <div>
        <a class="navbar-brand text-center" href = '/'>{{ current_user.name }}</a>
    </div>
    {%if current_user.is_authenticated%}
        <div>
            <a class="navbar-brand text-center" href = '/logout'>Выход</a>
        </div>
    {%endif%}
</nav>

<script type="text/javascript">
$(document).ready(function() {

	var socket = io.connect('http://192.168.43.217:8080/');

    socket.emit('join', { 'name': '{{ current_user.name }}', 'room': '{{ current_user.code }}' });

    socket.on('new_task_to_player', data => {
        $("#messages").append('<li>'+data.task+'</li>');
        console.log(data);
    });

    socket.on('leave', function(msg) {
        {%if current_user.is_authenticated%}
            window.location.replace("http://192.168.43.217:8080/logout");
        {%endif%}
    });
    

    socket.on('message', function(msg) {
		console.log('Received message');
	});

	$('#sendbutton').on('click', function() {
        socket.emit('new_answer_from_player', {{ current_user.name }});
		$('#myMessage').val('');
	});
    //$('#myMessage').val()
});
</script>

<ul id="messages"></ul>
<input type="text" id="myMessage">
<button id="sendbutton">Send</button>

{%endblock%}